extends layout

block header
  h1 Bus visualizer 
  p.lead Live update of bus / train positions in San Francisco

block content
  div.row
    div.col-xs-12.col-sm-12.col-md-12
      form(role='form')
        div.row
          div.col-xs-12.col-sm-12.col-md-6
            select.form-control.bottom-gap(name='agency')
              option(value='') Select an agency
          div.clearfix.visible-sm.visible-xs
          div.col-sx-12.col-sm-12.col-md-6
            select.form-control(name='route')
              option(value='') Select a route
      div#visual-container

block scripts
  script(src='/js/visualizer.js')