body {
  font: 18px "Avenir Next", "Segoe UI", "Roboto", sans-serif;
}

a {
  color: #00B7FF;
}

path {
	fill: grey;

}

.streets {
	stroke: blue;

}

.arteries {
	stroke: red;

}

.freeways {
	stroke: lightblue;
}

.neighborhoods {
	stroke: yellow;
}

.buses {
	fill: red;
}